.Navbar ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Navbar ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.15rem;
}

.Navbar button {
    margin-top: 2rem;
}