.post-section {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin-top: 3rem;
}

.post-section .post-body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 90%;
    gap: 1rem;
}

.post-section .post-body .author-credentials span {
    font-weight: bold;
}

.post-section .post-body .post-content {
    line-height: 2rem;
}

.post-section .author-display-picture {
    height: 2rem;
    width: 2rem;
    background-color: silver;
    border-radius: 100%;
    margin: 0.25rem auto;
}

.post-section .post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.post-section .post-footer>* {
    transform: scale(1.2);
}